<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default::htmlhead(~{}, ~{})">
</head>

<body>
    <div th:replace="layouts/default::navbar">(navbar)</div>

    <div class="container">
        <div class="starter-template">
            <h1>Movies</h1>

            <table class='table'>
                <tr th:each="movie : ${movies}">
                    <td>
                        <a th:href="@{'/movies/' + ${movie.id}}">
                            <span th:text="${movie.title}"></span>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div th:include="layouts/default::footer" id="footer">(footer)</div>

</body>
</html>