<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default::htmlhead(~{::title},~{::link})" th:with="title='Hello'">
    <title>Movie</title>
    
    <link rel="stylesheet" th:href="@{/application/movie.css}">    
</head>

<body>
    <div th:replace="layouts/default::navbar">(navbar)</div>

    <div class="container">
        <div class="starter-template">
            <h1>
                Movie: <span class='movieTitle' th:text="${movie.title}"></span>
                <button role='button' class='btn' onclick='onAddToCart()'>
                    <span class="oi oi-cart"></span>+
                </button>
            </h1>

            <ul>
                <li>Title: <span th:text="${movie.title}"></span>
                </li>
                <li>Director: <span th:text="${movie.director}"></span>
                </li>
                <li>Year: <span th:text="${movie.year}"></span>
                </li>
            </ul>
        </div>
    </div>

    <div th:include="layouts/default::footer" id="footer">(footer)</div>

<script>
function onAddToCart() {
    $.post('/rest/movies/addToCart', 
            { id: 1 },
            function() {
                console.log("DONE");
            }
    );
}
</script>
</body>
</html>